<p>
  I played Rock-Français / Blues music with <a href="http://dypingoos.com"> Dypingoos</a> for 3 years, learning all the music's and bass guitar's basics.
</p>
<p>
  Then i played Folk / Celtic / Rock music with <a href="http://passmoilecelte.fr"> Pass'moi le Celte</a>,
  learning how to play the right note at the right time alongside my dad at drums.
<p>
  And now i'm blasting low heavy / death metal riff with my mates from <a href="http://yzarn.com">Yzarn</a> while headbangin' and drinkin' beers.
</p>
<p>
  My rig :
  <ul>
    <li>Gibson&reg; Thunderbird IV</li>
    <li>DBX&reg 266 xl</li>
    <li>Ampeg&reg; SVT 3 PRO</li>
    <li>Ashdown&reg; Mag 4 * 10</li>
  </ul>
</p>
