<p>
  I'm specialized on front-end devlopment. That means i build fast, reliable and easy to use interface, mostly in HTML5/CSS3/JS.
</p>
<p>
  I work everyday with NodeJs and GruntJs as development tools, and with jQuery and BackboneJS which are my main weapons.
</p>
<p>
  I use Git as versionning system, SCRUM as agile framework and Ubuntu as OS.
</p>

<p>On my spare time and personnal projects, i like to keep in touch with server-side technologies like PHP (CakePHP, Symfony...) and trying new stuff.</p>
